<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('编辑产品')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    $(function (){
        let data4Vue = {
            uri:"products",
            listUrl:"listProduct",
            bean:{
                id:0,
                name:"",
                subTitle:"",
                originalPrice:0.0,
                promotePrice:0.0,
                stock:0,
                cid:0
            },
            category:{
                name:""
            }
        };
        let vue =new Vue({
            el:"#workingArea",
            data:data4Vue,
            mounted:function (){
                this.bean.id = getUrlParms("id");
                this.getById(this.bean.id);
            },
            methods:{
                getById:function (id){
                    let url = this.uri +"/" +id;
                    axios.get(url).then(function (response){
                       vue.bean = response.data;
                       vue.getCategory(vue.bean.cid);
                    });
                },
                getCategory:function (cid){
                    let url="categories/"+cid;
                    axios.get(url).then(function (response){
                        vue.category=response.data;
                    })
                },
                update:function (){
                    let url=this.uri;
                    axios.put(url,this.bean).then(function (){
                       location.href=vue.listUrl+"?cid="+vue.bean.cid;
                    });
                }
            }
        })
    })
</script>
<div th:replace="include/admin/adminNavigator::html"></div>
<div id="workingArea">
    <ol class="breadcrumb">
        <li><a href="listCategory">所有分类</a></li>
        <li><a :href="'listProduct?cid='+bean.cid">{{category.name}}</a></li>
        <li class="active">产品管理</li>
    </ol>
    <div class="panel panel-warning editDiv">
        <div class="panel-heading">编辑产品</div>
        <div class="panel-body">
            <table class="editTable">
                <tr>
                    <td>产品名称</td>
                    <td><input v-model="bean.name"  @keyup.enter="update"  type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>产品小标题</td>
                    <td><input v-model="bean.subTitle"  @keyup.enter="update"  type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>原价格</td>
                    <td><input v-model="bean.originalPrice" @keyup.enter="update"  type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>优惠价格</td>
                    <td><input v-model="bean.promotePrice"  @keyup.enter="update" type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>库存</td>
                    <td><input v-model="bean.stock" @keyup.enter="update"   type="text"
                                class="form-control"></td>
                </tr>
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere" @click="update()" class="btn btn-success" >提 交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>