<div class th:fragment="html">
    <a th:href="@{/}">
        <img id="simpleLogo" class="simpleLogo" src="img/site/simpleLogo.png">
    </a>
    <form action="search" method="get" >
        <div class="simpleSearchDiv pull-right">
            <input type="text" placeholder="平衡车 原汁机"  name="keyword">
            <button class="searchButton" type="submit">搜天猫</button>
            <div class="searchBelow">
				<span >
					<a ></a>
					<span >|</span>
	            </span>
            </div>
        </div>
    </form>
    <div style="clear:both"></div>
</div>
